<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marno.btm.mapper.makeSceneMapper">

    <!--添加场景记录-->
    <insert id="makeScene" parameterType="Scene">
        insert into scene (sceneID,originatorID,userPic,userName,theme,hoster,CreatTime,StartTime,endTime,address,ifRegister,message,mode,deviceId)
        values (#{sceneID},#{originatorID},#{userPic},#{userName},#{theme},#{hoster},#{creatTime},#{startTime},#{endTime},#{address},#{ifRegister},#{message},#{mode},#{deviceID})
    </insert>

    <!--新建签到表-->
    <update id="makeSceneTable" parameterType="String">
        CREATE TABLE ${sceneTableName} (
        memberID VARCHAR(55) NOT NULL,
        state VARCHAR(55) NOT NULL,
        registerTime DATETIME,
        signTime DATETIME,
        PRIMARY KEY (memberID))
    </update>

<!--    重复检测-->
    <select id="deviceUsed" resultType="String">
        select originatorID FROM scene
        <where>
            deviceID = #{deviceID} and
            STARTTIME >= #{strtime}>= ENDTIME
            OR STARTTIME >= #{endtime} >= ENDTIME
        </where>
    </select>

</mapper>